body {
  background-color: white;
  text-align: center;
  color: black;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

button {
  font-size: 14px;
  padding: 8px 18px;
  background-color: white;
  color: black;
  border: 2px solid black
}

button:hover {
  background-color: gray;
  color: black;
} 
.datab {
  color: grey;
  opacity: 0.6;
  cursor: not-allowed;
}