<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="language" content="EN" />
	<meta name="author" content="Steven" />
	<title>Visualization Tool</title>

	<link rel="stylesheet" type="text/css" href="css/stylesheets.css" />
	<link href="http://fonts.googleapis.com/css?family=Inder" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/ico" href="img/favicon.ico" />

  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.css" type="text/css">

  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.js"></script>
</head>
<body>
  <div id="page">
    <div id="header">
      <div id="header-content">
        <h1>PTviz: Visualization Tool</h1>
      </div>
    </div>
    <div id="ribbon">
      <div id="ribbon-content">

  <p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
  </p>
        <form method="post" action="/" enctype="multipart/form-data">
          <dl>
              <p>
                     <h2>Select file(s) to upload</h2>
                     <input type="file" name="file" autocomplete="off" required>

              <input type="submit" value="Submit">
          </p>
        </dl>
        </form>
      </div>
    </div>
    <div id="container">
      <center><p>Minimum range:</p>
      <form action = "http://localhost:5000/filter" method = "POST">
        <output name="value" id="valueId">1</output>
        <input type="range" min=0 max=10 value=1 class="slider" id="myRange" name="slider3" oninput="valueId.value = myRange.value">
        <input type="submit" value="submit" />
      </form></center>
      <table style="width:100%">
        <tr>
          <th>
            Node-link Diagram
          </th>
          <th>
            Adjacency Matrix
          </th>
        </tr>
      </table>
      <br />
      {{ script|safe }}
      {{ div|safe }}
    </div>
  <div class="dropdown">
    <button class="dropbtn">Layout</button>
    <div class="dropdown-content">
    <form action = "http://localhost:5000/circular" method = "POST">
    <button class="menuButton" name="circular" >Circular</button>
    </form>
    <form action = "http://localhost:5000/spring" method = "POST">
    <button class="menuButton" name="spring" >Spring</button>
    </form>
    <form action = "http://localhost:5000/random" method = "POST">
    <button class="menuButton" name="random" >Random</button>
    </form>
    </div>
  </div>

      <div class="dropdown2">
  <button class="dropbtn">Ordering</button>
  <div class="dropdown2-content">
    <form action = "http://localhost:5000/original" method = "POST">
    <button class="menuButton" name="original">Original</button>
    </form>
    <form action = "http://localhost:5000/linkNumber" method = "POST">
    <button class="menuButton" name="linkNumber">Sort on number of links</button>
    </form>
    <form action = "http://localhost:5000/linkStrength" method = "POST">
    <button class="menuButton" name="linkStrength">Sort on total link strength</button>
    </form>
    <form action = "http://localhost:5000/distanceMatrix" method = "POST">
    <button class="menuButton" name="distanceMatrix">Distance matrix</button>
    </form>
    <form action = "http://localhost:5000/robinson" method = "POST">
    <button class="menuButton" name="robinson">Robinson reordering</button>
    </form>
  </div>
</div>
  </div>
  <div id="footer">
		<div id="footer-content">
				<h2>&#169;2019 Group 34</h2>
		</div>
	</div>
</body>
</html>
